<div class="container">
    <h1 class="mx-2 my-2 text-center">Ajouter un justificatif</h1>
    
    <form class="formulaire" [formGroup]="formulaire"  (ngSubmit)="onAjoutRetard()">
        <mat-form-field>
            <mat-label formC>Date du retard</mat-label>
            <input matInput type="date" formControlName="date">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Etudiant</mat-label>
            <mat-select [(value)]="selectedUser" formControlName="listeEtudiant">
              <mat-option>
                <!-- @for (role of roleList; track role) {
                    <mat-option [value]="role">{{role}}
                    } -->
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-radio-group class="radio" aria-label="Select an option">
            <mat-radio-button class="radio_button" value="1">Justificatif Valide</mat-radio-button>
            <mat-radio-button value="2"> Justificatif Invalide</mat-radio-button>
          </mat-radio-group>

        <button mat-raised-button color="primary">Ajouter le retard</button>
    </form>
</div>